<h2>Spent Mana:{{actor.flags.tyrants-foundry.divinity.mana.spent}}</h2>

<div class="block-value divinity-item-row">
    <div class="divinity-item-row header">
        <div class="divinity-item-row item">
            Growth:{{actor.flags.tyrants-foundry.divinity.powers.growth.value}}
        </div>
        <div class="divinity-item-row item">
            Applied:{{actor.flags.tyrants-foundry.divinity.powers.growth.spent}}
        </div>
    </div>
    <div class="flexrow class="divinity-item-row button">
        <button id="increase-growth" class="increase-divine">+</button>
        <button id="decrease-growth" class="decrease-divine">-</button>
    </div>
</div>

<div class="block-value divinity-item-row">
    <div class="divinity-item-row header">
        <div class="divinity-item-row item">
            Destruction:{{actor.flags.tyrants-foundry.divinity.powers.destruction.value}}
        </div>
        <div class="divinity-item-row item">
            Applied:{{actor.flags.tyrants-foundry.divinity.powers.destruction.spent}}
        </div>
    </div>
    <div class="flexrow class="divinity-item-row button">
        <button id="increase-destruction" class="increase-divine">+</button>
        <button id="decrease-destruction" class="decrease-divine">-</button>
    </div>
</div>

<div class="block-value divinity-item-row">
    <div class="divinity-item-row header">
        <div class="divinity-item-row item">
            Talents:{{actor.flags.tyrants-foundry.divinity.powers.talents.value}}
        </div>
        <div class="divinity-item-row item">
            Applied:{{actor.flags.tyrants-foundry.divinity.powers.talents.spent}}
        </div>
    </div>
    <div class="flexrow class="divinity-item-row button">
        <button id="increase-talents" class="increase-divine">+</button>
        <button id="decrease-talents" class="decrease-divine">-</button>
    </div>
</div>